<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Capacity</p>
              <p class="card-title">150GB
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">$ 1,345
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">No. of Items Per Salesman</h5>
        <p class="card-category">Salesmen's Performance</p>
      </div>
      <div class="card-body ">
        <canvas id=hj width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Top 5 Sales</h5>
        <!-- <p class="card-category">Last Campaign Performance</p> -->
      </div>
      <div class="card-body " >
        <!-- <canvas id="top5saleman"></canvas> -->
        <table class="table table-hover" *ngIf="dataLoaded==true" id="top5saleman" >
          <thead>
                <tr>
                  <th>Name</th>
                  <th>Sales</th>
                </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let s of salesmen">
              <td>{{s.Salesman}}</td>
              <td>{{s.Sales}}</td>
              <!-- <td>
                <a class="btn btn-sm btn-primary" href="/eventform/{{e.Id}}"> Edit </a>
                <button type="button" class="btn btn-sm btn-danger" (click)="delete(e)">Delete</button>
                <a class="btn btn-sm btn-success" (click)="createLink(e)"> Generate Link </a>
                <a class="btn  btn-sm btn-info" href="/viewresult/{{e.Id}}/{{e.Name}}">Result</a>
                <a class="btn  btn-sm btn-primary" href="/topbanks/{{e.Id}}">Analysis</a>
                
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer ">
        <!-- <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">No. of Items Sold by Salesman</h5>
        <p class="card-category">Salesman's Performace</p>
      </div>
      <div class="card-body">
        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartCanvaWrapper">
              <canvas id="SalesmenEffort"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Items Sold
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>
